@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "plus";
  src: url("assets/fonts/plus.ttf");
}

* {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "plus", sans-serif;
  background-color: white;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  color: black;
}

.cust-width {
  width: calc(100% - 4.75rem);
}

.spinning {
  animation: spin 15s linear infinite;
  -webkit-animation: spin 15s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  display: none;
}
